{% extends 'reddit/base.html' %}
{% block content %}
<form action="/register" method="post">
    {% csrf_token %}
    <label for="">Username</label>
    <input class="form-control" type="text" id="username" name="username" placeholder="Create a username" required>
    <br>
    <label for="">E-mail Address</label>
    <input class="form-control" type="email" id="email" name="email" placeholder="Enter E-Mail" required>
    <br>
    <label for="">Password</label>
    <input class="form-control" type="password" id="pwd" name="pwd" placeholder="Create a password" required>
    <br>
    <label for="">Confirm Password</label>
    <input class="form-control" type="password" id="c_pwd" name="c_pwd" placeholder="Confirm Password" required>
    <br>
    <button type="submit">Register</button>
</form>
{% endblock %}