{% extends 'reddit/base.html' %}
{% load static %}

{% block content %}
<br><br><br>
<div class="container" style="background-color: black ; padding: 0, 20px;">
    <div class="container" style="background-color: white;">
        <h1>
            {{sub.name}}
        </h1>
        <br>
        <hr>
        {{sub.description}}
        <hr>
        <table class="posts_table table" style="background-color:white; width: 100%; text-align: left;">
            <tbody class="table-hover">
                {% for post in data %}
                {% if post.subreddit_id == sub.id %}
                <tr><span class="border">
                        <td>
                            {{forloop.counter}}
                        </td>
                    </span>
                    <td style="height: 15vh ;">
                        <a href="{% url 'PostDetail' post.id %}" style="text-decoration: none ; color: black;">
                            <div class="post"><strong>{{ post.title }}</strong><br><br> <br> submitted
                                {{post.date_created}} by : {{post.author}} to {{post.subreddit}}</div>
                        </a>
                    </td>
                </tr>
            </tbody>
            {% endif %}
            {% endfor %}

            <br><br> <br><br><br><br>

            {% endblock %}